body {

    margin: 0;
    padding: 0;

    background:
    radial-gradient(circle at top, #111144, #050510 70%);

    color: #00ffff;

    font-family: Arial, sans-serif;

    text-align: center;

}



.container {

    max-width: 900px;

    margin: 40px auto;

    padding: 30px;

}



h1 {

    font-size: 45px;

    letter-spacing: 3px;

    text-shadow:
    0 0 20px #00ffff;

}



h2 {

    color: #00ffff;

    text-shadow:
    0 0 10px #00ffff;

}



h3 {

    color: #9fffff;

}



p {

    color: #d9ffff;

    line-height: 1.7;

    font-size: 17px;

}




.search-box,
#result,
.oracle,
.project,
.blockchain,
.roadmap,
.lore {


    margin-top: 35px;

    padding: 25px;


    background:
    rgba(0,255,255,0.08);


    border:

    1px solid #00ffff;


    border-radius: 20px;


    box-shadow:

    0 0 20px rgba(0,255,255,0.3);


}





input {


    padding: 15px;


    width: 260px;


    background:

    #050510;


    color: white;


    border:

    1px solid #00ffff;


    border-radius: 10px;


    font-size: 16px;


}




button {


    padding: 15px 30px;


    margin-left: 10px;


    background:

    #00ffff;


    color:

    #050510;


    border: none;


    border-radius: 10px;


    font-weight: bold;


    cursor: pointer;


}




button:hover {


    box-shadow:

    0 0 25px #00ffff;


}




a {


    color:

    #00ffff;


    text-decoration:

    none;


    font-weight:

    bold;


}



a:hover {


    text-shadow:

    0 0 10px #00ffff;


}





.roadmap p {


    border-left:

    3px solid #00ffff;


    padding-left:

    15px;


    text-align:

    left;


}





footer {


    margin-top: 50px;


    padding: 20px;


    opacity: 0.7;


}